<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Index</title>
<!--Import Google Icon Font-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

		<!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
            
	<style>
		h1 {
		text-shadow: aqua 2px 2px;
		position: relative; 
		right: 50%;
		left: 40%;
		}
	</style>
</head>
<body>
	<h1>Spring Boot</h1>
	<a style="position: relative; right: 50%; left: 47%;" class="waves-effect waves-light btn" href="/cadastropessoa">Cadastro</a>
</body>
</html>